body {
    background-color: #C499F3;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

#game {
    width: 90%; /* Adjust as needed */
    max-width: 600px; /* Add a max-width for responsiveness */
    background-color: #5D3587;
    color: #FF9800;
    margin: auto;
    padding: 40px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#game img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#controls,
#stats,
#monsterStats {
    border: 1px solid #0a0a23;
    padding: 15px; /* Adjust as needed */
    margin-bottom: 15px; /* Adjust as needed */
    border-radius: 5px;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #ffffff;
    background-color: #feac32;
    border: 3px solid #feac32;
    padding: 12px 20px; /* Adjust as needed */
    border-radius: 8px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    margin-right: 15px; /* Adjust as needed */
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-image: linear-gradient(#ffac33, #fecc4c);
    transform: scale(1.1); /* Adjust as needed */
}

#button2 {
    margin-right: 15px; /* Adjust as needed */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #game {
        padding: 20px; /* Adjust for smaller screens */
    }

    #controls,
    #stats,
    #monsterStats {
        padding: 10px; /* Adjust for smaller screens */
        margin-bottom: 10px; /* Adjust for smaller screens */
    }

    button {
        padding: 10px 15px; /* Adjust for smaller screens */
        font-size: 14px; /* Adjust for smaller screens */
        margin-right: 10px; /* Adjust for smaller screens */
    }

    #button2 {
        margin-right: 10px; /* Adjust for smaller screens */
    }
}
